.beer-token {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000000;
  color: #FFFFFF;
  border-radius: 10px;
  height: 250px;
  width: 170px;
  margin: 5px;
  padding: 30px;
  position: relative; /* needed to position the + button */
}

.add-to-favorites {
  position: absolute;
  border: 1px solid #002288;
  bottom: 7px;
  right: 7px;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  padding: 0;
  text-align: center;
  /* padding-bottom: 5px; */
  line-height: 20px;
}

.add-to-favorites:hover {
  background-color: #7985b67c;
  color: #FFFFFFFF;
  border: 3px solid #002288;;
  bottom: 5px;
  right: 5px;
  cursor: default;
}

img.beer-large {
  width: auto;
  height: 90%;
  margin: 0 30px;
}