.App {
  box-sizing: border-box;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 120s linear;
  height: 80px;
  width: 80px;
  /* margin-right: 400px; */
}

.App-header {
  background-color: #222222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* //////////////////////////////////////// */

.container {
  background-color: #221E1F;
  position: relative;
  padding: 5px;
  padding-top: 1px;
}

.main-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% - 255px);
  background-color: #221E1F;
  border-radius: 10px;
  /* margin: 5px; */
  /* border: 1px solid #ffffff; */
}

.main-feed-alt {
  /* border: 1px solid #ffffff; */
  width: calc(100% - 255px);
  background-color: #221E1F;
  margin: 50px 0;
}

.faves-feed{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 204px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 50px 20px;
  background-color: #221E1F;
  border-left: 5px double #362d36;
  border-bottom: 5px double #362d36;
  border-bottom-left-radius: 40px;
}
